alias ll="exa --long --header --icons --group-directories-first --sort=ext"
alias lla="exa --long --header --icons --group-directories-first --sort=ext -a"
alias glogdp="git log --stat --patch --graph --pretty='\''%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'\'"
alias c="xclip"
alias v="xclip -o"
alias bat="batcat"