REMOTES_ORIGIN_PREFIX="remotes/origin/"

function mkd() {
    mkdir -p "$@" && cd "$_"
}

function gcof() {
    local BRANCH=$(git branch -a | fzf | awk '{$1=$1};1')

    git checkout $(getBranchName $BRANCH)
}

function gcotf() {
    local TAG=$(git tag -l --sort=-v:refname | fzf | awk '{$1=$1};1')

    git checkout $TAG
}

function glf(){
    local BRANCH=$(git branch -a | fzf | awk '{$1=$1};1')

    if [[ $(isOrigin $BRANCH) == true ]]; then
        echo ORIGIN
        git pull origin $(getBranchName $BRANCH)
    else
        echo LOCAL
        git merge $(getBranchName $BRANCH)
    fi
}

function gitcm() {
    local CURRENT_PATH=$(pwd)

    cd $CURRENT_PATH

    if [ -z "$@" ]; then
        echo ERROR: PROVIDE MESSAGE
        exit 0
    fi

    local PROJECT_TASK_PREFIX=$(git branch --show-current | grep -oP '(?<=\/)\w+-\d+')

    if [[ ! $PROJECT_TASK_PREFIX ]]; then
        git commit -m "$@"
    else
        git commit -m "[$PROJECT_TASK_PREFIX] - $@"
    fi
}

function gstaaf() {
    local STASH_INDEX=$(getStashIndex)
    
    if [ -z "$STASH_INDEX" ]; then
        return
    fi

    git stash apply $STASH_INDEX
}

function gstadf() {
    local STASH_INDEX=$(getStashIndex)

    if [ -z "$STASH_INDEX" ]; then
        return
    fi

    git stash drop $STASH_INDEX
}

function getStashIndex() {
    local STASH=$(git stash list | fzf | awk '{$1=$1};1')
    echo $STASH | grep -oP '(?<=stash@{).*(?=})'
}

function isOrigin() {
    if [[ "$1" == *"$REMOTES_ORIGIN_PREFIX"* ]]; then
        echo true
    else
        echo false
    fi
}

function getBranchName(){
    local BRANCH=$1
    if [[ $(isOrigin $BRANCH) == true ]]; then
        echo ${BRANCH#"$REMOTES_ORIGIN_PREFIX"}
    else
        echo $BRANCH
    fi
}